ScreenshotThumb
{
  padding: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: black;
}

ScreenshotThumb[selected="true"]
{
  border-color: #00cc77;
}

ScreenshotThumb[selected="false"]
{
  border-color: transparent;
}
